body {
  background-image: url('../images/gold.jpg');
  font-family: 'Archivo Black', sans-serif;
  background-size: cover;
}

.body {
  font-family: 'Archivo Black', sans-serif;
  border-radius: 5%;
  display: none;
  min-width: 770px;
  background-repeat: no-repeat;
  background-size: cover;
}

.gameplay {
  width: 100%;
}


.data {
  box-shadow: 0px 0px 15px 15px white;
  font-family: 'Archivo Black', sans-serif;
  border-radius: 10%;
  margin-right: 50px;
  height: 60vh;
  width: 20%;
  float: left;
  background-color: white;
  background-image: url('../images/tower2.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.office {
  margin-top: 25px;
  box-shadow: 0 0 30px 30px black;
  border-image-source: url("../images/backgroundborder.png");
  border-image-slice: 100;
  border-image-width: 30;
  border-image-outset: 10;
  border-image-repeat: round;
  border-style: solid;
  font-family: 'Archivo Black', sans-serif;
  height: 60vh;
  width: 70%;
  display: inline-block;
  background-color: background-color: rgba(0,0,0,.8);
  background-image: url('../images/oval-office2.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.office img {
  height: 120px;
   width: auto;
}
}

.interface {
  font-family: 'Archivo Black', sans-serif;
  width: 100%;
  margin-top: 20px;
  height: 30vh;
  background-color: background-color: rgba(0,0,0,.8);
}

.commands {
  font-family: 'Archivo Black', sans-serif;
  border-radius: 10%;
  margin-left: 2%;
  height: 100%;
  width: 50%;
  float: left;
  height: 200px;
  background-repeat: no-repeat;
  background-size: cover;
}

.reactions {
  font-family: 'Archivo Black', sans-serif;
  padding: 20px;
  background-image: url('../images/TV.png');
  background-repeat: no-repeat;
  background-size: center;
  height: 300px;
  width: 40%;
  float: right;
  margin-right: 40px;
}

button {
  font-family: 'Archivo Black', sans-serif;
  border-radius: 15%;
  background-color: black;
  color: gold;
  padding: 5px 5px;
  text-align: center;
  display: inline;
  font-size: 15px;
  height: 100px;
  width: 30%;
  margin-top: 100px;
  margin-left: 1%;
}

#lights {
    margin-top: 80px;
}

button:hover {
  box-shadow: 0 0 10px 10px black;
  transition-property: all;
  transition-duration: 1s;
  transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
}

h2 {
  font-family: 'Archivo Black', sans-serif;
  border-radius: 15%;
  font-size: 30px;
  background-color: black;
  color: white;
  margin-top: 33px;
  text-align: center;
}

p {
  font-family: 'Archivo Black', sans-serif;
  border-radius: 15%;
  font-size: 20px;
  font-weight: bold;
  background-color: black;
  color: white;
  text-align: center;
}
.boredom {
  margin-top: 0px;
}
.exhaustion {
  margin-top: 0px;
}

h1 {
  text-shadow: 5px 5px black;
  box-shadow: 0 0 5px 5px #d4af37;
  color: #d4af37;
  margin-top: 10%;
  font-family: 'Archivo Black', sans-serif;
  font-size: 60px;
  background: -webkit-linear-gradient(#eee, #333);
}

#cover {

  overflow-y: hidden;
	max-height: 1000px;

	transition-property: all;
	transition-duration: 5s;
	transition-timing-function: cubic-bezier(0, .5, 2, 4);


  font-family: 'Archivo Black', sans-serif;
  text-align: center;
  background-color: black;
  background-image: url('../images/flag.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: absolute;
  top:0;
  left:0;
  bottom:0;
  right:0;
  height:100%;
  width:100%;
}

#start {

  font-family: 'Archivo Black', sans-serif;
  text-shadow: 1px 3px #ff0000;
  box-shadow: 0 0 15px 20px black;
  background-image: url('../images/stars.jpeg');
  color: black;
  font-size: 40px;
  font-weight: bold;
  border-radius: 60%;
  margin-top: 0px;
  margin-top: 7%;
  height: 200px;
  width: 400px;
}

#start:hover {
    box-shadow: 0 0 40px 40px red;
}

#trump {
  border-radius: 50%;
   transform: translate3d(400px, 250px, 0px);
}

.restart {
  font-family: 'Archivo Black', sans-serif;
  float: right;
  margin-top: 30px;
  margin-left: 5%;
  margin-right: 5%;
  height: 50px;
  width: 90%;
  font-size: 16px;
}

.reactions img {
  font-family: 'Archivo Black', sans-serif;
  width: 330px;
  height: 200px;
  margin: 23px 0px 25px 65px
}
