body {
  background-image: url(../images/flag.png);
}

.body {
  border-radius: 5%;
  background-color: rgba(0,0,0,.8);
  display: none;
  min-width: 770px
}

.gameplay {
  width: 100%;
}


.data {
  border-radius: 10%;
  margin-right: 50px;
  height: 60vh;
  width: 20%;
  float: left;
  background-color: white;
}

.office {
  height: 60vh;
  width: 70%;
  display: inline-block;
  background-color: background-color: rgba(0,0,0,.8);
  background-image: url(../images/oval-office.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.interface {
  width: 100%;
  margin-top: 20px;
  height: 30vh;
  background-color: background-color: rgba(0,0,0,.8);
}

.commands {
  border-radius: 10%;
  text-align: center;
  height: 100%;
  width: 50%;
  float: left;
  background-color: white;
}

.reactions {
  border-radius: 10%;
  background-color: grey;
  background-image: url();
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100%;
  width: 47%;
  float: right;
}

button {
  margin: 5%;
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 5px 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

h2 {
  margin-top: 35px;
  text-align: center;
}

p {
 text-align: center;
}

#cover {
  text-align: center;
  background-color: black;
  background-image: url(../images/flag.png);
  background-repeat: no-repeat;
  background-size: cover;
  position:absolute;
  top:0;
  left:0;
  bottom:0;
  right:0;
  height:100%;
  width:100%;
}

#start {
  text-shadow: 2px 2px #ff0000;
  box-shadow: 0 0 15px 20px black;
  background-image: url(../images/stars.jpeg);
  color: black;
  font-size: 40px;
  font-weight: bold;
  border-radius: 60%;
  margin-top: 18%;
  height: 200px;
  width: 400px;
}

#start:hover {
    box-shadow: 0 0 40px 40px red;
}
